
<header>
    <h1>Fish Food</h1>
</header>

<div id="wrapper">

<div>
    {{#each burgerData}}
    {{#unless this.devoured}}
    <div>
        <p>{{this.id}}.{{this.burger_name}}</p>
    </div>
    <div>
        <form>
            <button type="submit" id="eat" value={{this.id}}>Eat It</button>
        </form>
    </div>
        {{/unless}}
        {{/each}}
    </div>
    <div>
        {{#each burgerData}}
        {{#if this.devoured}}
            <input class="form-control" type="text" placeholder="{{this.id}}.{{this.burger_name}}" readonly>
        {{/if}}
        {{/each}}
    </div>

</div>

