
<header>
    <h1>Burgers</h1>
</header>

<div id="wrapper">

    <div>
    {{#each data}}
    {{#unless this.devoured}}
    <div>
        <p>{{this.id}}. {{this.burger_name}}</p>
    </div>
    <div>
        <form>
            {{!-- send id back to db --}}
            <button type="submit" id="eat" value={{this.id}}>Eat It</button>
        </form>
    </div>
        {{/unless}}
        {{/each}}
    </div>
    <div>
        {{#each data}}
        {{#if this.devoured}}
        <form>
            <input type="text" placeholder="{{this.id}}.{{this.burger_name}}">
        </form>
        {{/if}}
        {{/each}}
    </div>
    <div>
        <form>
            <button type="submit">Test</button>
        </form>
    </div>

</div>

