
<li>

	{{name}}

	<button class="eatStatus" data-id="{{id}}" data-neweat="{{devour}}">
		{{#if devour}}hide.[Eat]{{else}}Eat it{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}"><del>[del]</del></button>

</li>

