
<li>

	{{name}}

	<button class="eatStatus" data-id="{{id}}" data-neweat="{{devour}}">
		{{#if devour}}(meow){{else}}Eat it{{/if}}
	</button>

	<button class="delete-burger hidden" data-id="{{this.id}}">Delete Burger</button>

</li>

